.custom-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 24px;
  }
  
  .name {
    margin-left: 10%;
    font-size: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .custom-navbar {
      height: auto;
    }
  }
  